flows/Opportunity_Privacy_Code.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_X01</name>
        <label>Assignment_X01</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>input_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Privacy_Code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_X01</name>
        <label>Decision X01</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrivate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrivate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_X01</targetReference>
            </connector>
            <label>Is Private ?</label>
        </rules>
    </decisions>
    <description>Privacy Code</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Initial_Date</name>
        <dataType>Number</dataType>
        <expression>DAY({!input_Date})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Initial_OppName</name>
        <dataType>String</dataType>
        <expression>IF( IsBlank({!input_Text}) = False,
    LEFT({!input_Text}, 1),
    &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>PrivacyCode</name>
        <dataType>String</dataType>
        <expression>{!Initial_OppName} + TEXT({!Initial_Date})</expression>
    </formulas>
    <interviewLabel>Opportunity - Privacy Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Privacy Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Privacy_Code</name>
        <label>Update Privacy Code</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>currentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Code__c</field>
            <value>
                <elementReference>PrivacyCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_X01</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>input_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
